body {
    background: linear-gradient(135deg, #2C2891, #1C7947); /* Linear gradient background */
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    max-width: 80%;
    margin: auto;
    border: 3px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 10px 0;
    font-size: 36px;
    color: #2C2891;
}

h2 {
    font-size: 40px;
    margin: 0 0 20px;
    color: #1C7947;
}

#buttons {
    margin-bottom: 20px;
}

button {
    border: 1px solid #333;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

#increment-btn {
    background: #2C2891;
}

#save-btn {
    background: #1C7947;
}

#save-el {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}
